<%@services.each do |service|%>
  <section class="card-services">
      
        <figure>
          <img src='<%=service.image%>' alt="img-01.jpg">
        </figure>
        
        
        <div class="card-text">
          <h2><%=service.name%></h2>
          <p><%=service.description%></p>
        </div>  
          <a href="/require_service/<%=service.id%>" class="btn btn-warning">Contratar</a><!-- gutter
     --><a href="/require_service/<%=service.id%>" class="btn btn-danger">Despedir</a>
  </section>
<%end%>