<h1>Contratos disponibles</h1>

<!-- Muestra todos los contratos vigentes del servicio que este usuario presta y que aun no han sido aceptados por otro usuario -->


<h2>Contratos Disponibles</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Servicio</th>
      <th>Fecha</th>
      <th>Direcci贸n</th>
      <th>Descripci贸n</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |c| %>
      <% client=Contract.find(c.id).client%>
      <tr>
        <td><%= client.first_name + " " + client.last_name %></td>
        <td><%= c.service.name %></td>
        <td><%= c.date_request%></td>
        <td><%= client.address%></td>        
        <td><%= c.description%></td>
        <td><button><a href="/accept_contract/<%=c.id%>">Aceptar</a></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Muestra los contratos ya aceptados por este usuario pendientes por realizar -->

<h2>Contratos Aceptados</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Servicio</th>
      <th>Fecha</th>
      <th>Direcci贸n</th>
      <th>Descripci贸n</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts_acepted.each do |c| %>
      <% client=Contract.find(c.id).client%>
      <tr>
        <td><%= client.first_name + " " + client.last_name %></td>
        <td><%= c.service.name %></td>
        <td><%= c.date_request%></td>
        <td><%= client.address%></td>        
        <td><%= c.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>