<!DOCTYPE html>
<html lang="en">



<table>
  <thead>
    <tr>
      
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>

  <p id="notice"><%= notice %></p>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

 
  <!-- ///////Header//////// -->
  <div class="headCenter jumbotron">
    <h1 class="display-3">Preser</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="m-y-2">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">

        <a href="#" class="btn btn-primary">Usuario</a>
        <a href="#" class="btn btn-primary">Contratista</a>

    </p>
  </div>

<div class="container">
  <div class="row">

  

  <!-- ///////body//////// -->
   <!-- este es el partial para los modelos de servicio -->

<article class="main-services">

<%=render partial: "services", object: @services%>

</article>

      




  </tbody>
</table>



