<h2>Contratar Servicio</h2>
 
<%= form_for @contract, :url =>{:action => :require_service}, :method => :POST do |f|%>
  
  <div class="field">
    <%= f.date_field :date_request %><br />

  </div>
 
  <div class="form-control field">
    <%= f.label :description, 'Descripcion' %><br />
    <%= f.text_area :description%>
  </div>

  <div class="actions">
    <%= f.submit "Contratar" %>
  </div>

<%end%> 



