<h2>Contratar Servicio</h2>

<%= form_for @contract, :url =>{:action => :require_service} do |f|%>
  
  <div class="field">
    <%= f.label :date_request, 'Fecha' %><br />

  </div>
 
  <div class="field">
    <%= f.label :description, 'Fecha' %><br />
    <%= f.text_area :description%>
  </div>

  <div class="actions">
    <%= f.submit "Contratar" %>
  </div>

<%end%> 